.myButtonActive {
  padding: 5px 15px;
  margin: 0px 15px;
  color: yellowgreen;
  font-weight: bold;
  font-size: 20px;
  background-color: teal;
  border: 2px solid yellowgreen;
  border-radius: 5px;
  cursor: pointer;
  text-wrap: nowrap;

  span {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 700px) {
    padding: 3px 7px;
    font-size: 14px;
  }
}
